<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd" >
<html>
  <head>
    <title>Sample Chat Application</title>
    <style>
      body {
        background-color: #eeeeee;
        padding: 0;
        margin: 0 auto;
        font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
        font-size: 11px;
      }
    </style>

    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/chat.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/screen.css" />

    <!--[if lte IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/screen_ie.css" />
    <![endif]-->
  </head>
  <body>
    <div id="main_container">
      <%= yield %>
    </div>

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
  </body>
</html>